<div fxFlexFill fxLayout="column">
	<div fxFlex="<grow>" fxFlexFill>
		<div style="max-width: 1616px;">
			<div class="introduction">
				<h1>Hunter damage calculator</h1>
				<p>Does 8 agility beat 20 attack power given your current stats? If you want a more in-depth <a href="https://youtu.be/QyCUqLvgBpc">introduction</a> watch the video</p>
				<p>Enter your stats, talents and weapon. Add alternative setup to compare.</p>
			</div>

			<base-stats></base-stats>

			<calculator *ngFor="let component of compareComponents"></calculator>


			<div class="character-setup" style="max-width: 400px; min-width: 340px; width: 100%; position: relative; display: inline-block;" (click)="addCompareCalculator();">
				<button style="pointer-events: none; position: absolute; top: 50%; left: 50%; z-index: 127; transform: translate(-50%, 0px);" mat-raised-button color="primary">
					Compare
				</button>
				<div class="compact-view new-view" fxLayout="column">
					<div class="header" fxLayout="row">
						<div fxFLex="<grow>">
							<h2>Alternative setup</h2>
						</div>
						<div fxFlex style="text-align: right;">
						</div>
					</div>
					<div fxFlex style="white-space: nowrap; text-align: center;">
						<div class="talent-container" *ngFor="let talent of talents" style="display: inline-block;">
							<div [class.maxed]="talent.currentRank == talent.ranks" class="talent-tile">
								<img [style.opacity]="((talent.currentRank / talent.ranks) / 2 ) + .5" *ngIf="talent.icon" [src]="talent.icon" />
								<div class="talent-number-indicator">
									<span>{{talent.currentRank}}</span>
								</div>
							</div>
						</div>
					</div>
					<div fxFlex style="white-space: nowrap;">
						<p [class.epic]="selectedWeapon.quality == 'epic'" [class.rare]="selectedWeapon.quality == 'rare'" [class.uncommon]="selectedWeapon.quality == 'uncommon'" class="weapon-link">{{selectedWeapon.name}}</p>

						<mat-form-field class="stat-input">
							<input matInput placeholder="AP">
						</mat-form-field>
						<mat-form-field class="stat-input">
							<input matInput placeholder="Crit (%)">
						</mat-form-field>
						<mat-form-field class="stat-input">
							<input matInput placeholder="Ammo">
						</mat-form-field>
						<mat-form-field class="stat-input" style="margin-right: 0px;">
							<input matInput placeholder="Scope">
						</mat-form-field>
					</div>
				</div>
			</div>

			<div class="introduction">
				<p>Credits to Lactose for the work he has done on the <a href="https://forum.elysium-project.org/topic/31461-hunter-damage-cycles-breakdown-ej-repost/" target="_blank">formulae and shot rotations</a></p>
			</div>
		</div>
	</div>
</div>

<!--

-tooltips for talents

-pwa icons
-single talent points add/remove

more weapons
-->