<div>
	<h2>Damage cycles</h2>
	<p>Attack speed (quiver 15%): <span class="result">{{adjustedSpeed | number:'1.1-2'}}</span></p>
	<button mat-raised-button style="margin: 8px 0px;" (click)="toggleCycleDetails();">
		<mat-icon style="margin-right: 8px;">visibility</mat-icon>
		Details
	</button>
	<br />
	<table class="stdTable">
		<tr>
			<td><h3>Clipped</h3></td>
			<td style="text-align: right;"><span class="result">{{clippedDPS | number:'1.1-2'}}</span> dps</td>
		</tr>
		<tr *ngIf="showCycleDetails">
			<td>Auto Shot ({{clippedAutos}}):</td>
			<td style="text-align: right;">{{clippedAutoshotDamage | number:'1.1-2'}}</td>
		</tr>
		<tr *ngIf="showCycleDetails">
			<td>Multi Shot coefficient:</td>
			<td style="text-align: right;">6/7</td>
		</tr>
		<tr *ngIf="showCycleDetails">
			<td>Multi Shot:</td>
			<td style="text-align: right;">{{clippedMultiShotDamage | number:'1.1-2'}}</td>
		</tr>
		<tr>
			<td>Damage:</td>
			<td style="text-align: right;">{{clippedTotal | number:'1.1-2'}}</td>
		</tr>
		<tr>
			<td>Duration:</td>
			<td style="text-align: right;">9s</td>
		</tr>
	</table>
	<br />
	<table class="stdTable">
		<tr>
			<td><h3>Full</h3></td>
			<td style="text-align: right;"><span class="result">{{fullDPS | number:'1.1-2'}}</span> dps</td>
		</tr>
		<tr *ngIf="showCycleDetails">
			<td>Auto Shot ({{clippedAutos + 1}}):</td>
			<td style="text-align: right;">{{fullAutoshotDamage | number:'1.1-2'}}</td>
		</tr>
		<tr *ngIf="showCycleDetails">
			<td>Multi Shot coefficient:</td>
			<td style="text-align: right;">{{multiShotCoefficient | number:'1.1-2'}}</td>
		</tr>
		<tr *ngIf="showCycleDetails">
			<td>Multi Shot:</td>
			<td style="text-align: right;">{{fullMultiShotDamage | number:'1.1-2'}}</td>
		</tr>
		<tr>
			<td>Damage:</td>
			<td style="text-align: right;">{{fullTotal | number:'1.1-2'}}</td>
		</tr>
		<tr>
			<td>Duration:</td>
			<td style="text-align: right;">{{fullCycleTime | number:'1.1-2'}}s</td>
		</tr>
	</table>
	<div *ngIf="showCycleDetails">
		<br>
		<h4>Average damages</h4>
		<div class="averages">
			<div fxLayout="row">
				<div fxFlex="<grow>"><strong>Auto Shot:</strong></div>
				<div fxFlex><span class="result">{{autoShotFinal | number:'1.1-2'}}</span></div>
			</div>
			<div fxLayout="row">
				<div fxFlex="<grow>">Average:</div>
				<div fxFlex>{{autoShotAvg | number:'1.1-2'}}</div>
			</div>
			<div fxLayout="row">
				<div fxFlex="<grow>">Average crit:</div>
				<div fxFlex>{{autoShotAvgCrit | number:'1.1-2'}}</div>
			</div>
		</div>
		<div class="averages">
			<div fxLayout="row">
				<div fxFlex="<grow>"><strong>Aimed Shot:</strong></div>
				<div fxFlex><span class="result">{{aimedShotFinal | number:'1.1-2'}}</span></div>
			</div>
			<div fxLayout="row">
				<div fxFlex="<grow>">Average:</div>
				<div fxFlex>{{aimedShotAvg | number:'1.1-2'}}</div>
			</div>
			<div fxLayout="row">
				<div fxFlex="<grow>">Average crit:</div>
				<div fxFlex>{{aimedShotAvgCrit | number:'1.1-2'}}</div>
			</div>
		</div>
		<div class="averages">
			<div fxLayout="row">
				<div fxFlex="<grow>"><strong>Multi Shot:</strong></div>
				<div fxFlex><span class="result">{{multiShotFinal | number:'1.1-2'}}</span></div>
			</div>
			<div fxLayout="row">
				<div fxFlex="<grow>">Average:</div>
				<div fxFlex>{{multiShotAvg | number:'1.1-2'}}</div>
			</div>
			<div fxLayout="row">
				<div fxFlex="<grow>">Average crit:</div>
				<div fxFlex>{{multiShotAvgCrit | number:'1.1-2'}}</div>
			</div>
		</div>
	</div>
</div>