/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background-color: $color-background;
  color: $color-light;
  padding: 0em;
  font-family: $font-stack; 
}

h2 {
	font-weight: normal;
	font-size: 22px;
}

.stdTable {
	width: 100%;

	th, td {
		padding: $spacing/4 0px;
	}
}

.averages {
	margin: $spacing 0px;
	font-size: 14px;
}
