/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background-color: $color-background;
  color: $color-light;
  padding: 0em;
  font-size: 15px;
  font-family: $font-stack; 
}

h2 {
	font-weight: normal;
	font-size: 22px;
}

.stdTable {
	width: 100%;

	th, td {
		padding: $spacing/4 0px;

		font-size: 14px;
	}
}

.averages {
	margin: $spacing 0px;
	font-size: 14px;
}

.settings {
	text-align: right;

	.section {
		display: inline-block;
		padding: 0px $spacing;
	}
}

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: darken($color-background, 2%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lighten($color-background, 4%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten($color-background, 8%);
}