.content {
	padding: 0px calc($spacing / 2);
}

.character-setup {
	position: relative;
	display: inline-block;
	max-width: 640px;
	min-width: 316px;
	width: 100%;

	&.collapsed {
		max-width: 320px;
	}

	.baseComponent {
		background-color: #024a1d;
	}
}

.view {
	padding: $spacing;
	margin: calc($spacing / 2);
	display: inline-block;
	background-color: #011f23;
	border-radius: 4px;
	box-shadow: inset 0px 2px 5px rgba(0,0,0,.8);
}

.compact-view {
	padding: $spacing;
	margin: calc($spacing / 2);
	display: inline-block;
	background-color: #011f23;
	border-radius: 4px;
	box-shadow: inset 0px 2px 5px rgba(0,0,0,.8);

	&.new-view {
		transition: all .4s ease;
		opacity: .4;
		box-shadow: none;
		cursor: pointer;

		input {
			cursor: pointer;
		}

		.header {
			opacity: .6;
		}

		&:hover {
			opacity: .8;
		}
	}

	.selected-weapon {
		padding: calc($spacing / 2) 0px;
	}
}

.stat-input {
	width: 60px; 
	margin-right: $spacing;

	&.small {
		width: 40px;
	}
}

.header {
	background-color: darken($color-primary, 15%);
	border-radius: 4px 4px 0px 0px;
	margin: -16px;
	margin-bottom: 0px;
	padding: 0px $spacing;
	background-image: linear-gradient(135deg, rgba(0,0,0,0) 0%, rgba(0,23,4,0.3) 100%);

	h2 {
		font-size: 20px;
		margin: 8px 0px;
	}
}

.weapon-link {
	text-decoration: underline;
	color: $color-primary;
	font-size: 15px;
}

.introduction {
	padding: $spacing;

	p {
		max-width: 600px;
		opacity: .87;
		font-size: 15px;
	}
}

h1 {
	font-size: 24px;
}

h2 {
	margin: $spacing 0px;
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

hr {
	border: .5px dashed $color-primary;
	margin: $spacing 0px;
}

.epic {
	color: $color-epic;
}

.rare {
	color: $color-rare;
}

.uncommon {
	color: $color-uncommon;
}

a {
	color: #12a5c0;
	transition: all .2s ease;

	&:hover {
		color: #13c7e8;
	}
}

.talents {
	justify-content: space-between;
}

.talent-container {
	padding: $spacing calc($spacing / 2) calc($spacing / 2) calc($spacing / 2);
}

.talent-container:first-child {
	padding-left: 0px;
}

.talent-container:last-child {
	padding-right: 0px;
}

.talent-tile {
	transition: all .3s ease;
	position: relative;
	max-width: 60px;
	max-height: 60px;
	width: 100%;
	border-radius: 4px;
	border: 2px solid $color-primary;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	cursor: pointer;

	.tooltip {
		display: none;
		position: absolute;
		bottom: 105%;
		left: 105%;
		padding: calc($spacing / 2);
		border-radius: 4px;
		background-color: rgba(0,0,0,.7);
		z-index: 128;

		p {
			margin: 0px;
			white-space: nowrap;
		}
	}

	img {
		height: 100%;
		width: 100%;
		transition: all .3s ease;
		border-radius: 4px;
	}

	&.maxed {
		border: 2px solid #68d591;
		box-shadow: 0px 0px 11px #68d591;

		.talent-number-indicator {
			color: #68d591;
			border: 1px solid #68d591;
		}
	}
}

.talent-tile:hover {
	.tooltip {
		display: block;
	}
}

.talent-number-indicator {
	position: absolute;
	bottom: -7px;
	right: -7px;
	transition: all .3s ease;
	font-size: 14px;
	padding-top: 1px;
	color: $color-primary;
	border: 1px solid $color-primary;
	width: 20px;
	height: 20px;
	background-color: rgba(0,0,0,.8);
	border-radius: 3px;
	text-align: center;
}

.weapon-container {
	padding: calc($spacing / 4) calc($spacing / 2); 
	cursor: pointer;

	&.epic:hover {
		background-color: rgba(163, 53, 238, .15);
	}

	&.rare:hover {
		background-color: rgba(0, 112, 221, .11);
	}

	&.uncommon:hover {
		background-color: rgba(30, 255, 0, .04);
	}
}

.weapon-container, .selected-weapon {

	&.epic:hover {

		.weapon-image {
			box-shadow: 0px 0px 11px $color-epic;
		}
	}

	&.rare:hover {

		.weapon-image {
			box-shadow: 0px 0px 11px $color-rare;
		}
	}

	&.uncommon:hover {

		.weapon-image {
			box-shadow: 0px 0px 11px $color-uncommon;
		}
	}
}

.epic {
	.weapon-image {
		border-color: $color-epic;
	}
	.weapon-link {
		color: $color-epic;
	}
}

.rare {
	.weapon-image {
		border-color: $color-rare;
	}
	.weapon-link {
		color: $color-rare;
	}
}

.uncommon {
	.weapon-image {
		border-color: $color-uncommon;
	}
	.weapon-link {
		color: $color-uncommon;
	}
}

.weapon-image {
	width: 52px;
	height: 52px;
	border: 2px solid #666;
	vertical-align: middle;
	transition: all .2s ease;
	border-radius: 4px;
}

.weapon-text {
	display: inline-block; 
	vertical-align: middle; 
	padding-left: 8px;
	white-space: nowrap; 
    width: 220px; 
    overflow: hidden;
    text-overflow: ellipsis; 

	.stats {
		font-size: 14px;
		color: #ccc;
	}
}

.type-text {
	color: $color-primary;
	font-size: 12px;
}

.discrete {
	font-size: 14px;
	color: #ccc;
}

.weapon-overlay {
	position: absolute;
	top: -80px;
	left: 0px;
	width: 320px;
	background-color: $color-background;
	padding: calc($spacing / 2);
	z-index: 128;
	border-radius: 8px;
	box-shadow: 0px 2px 10px rgba(0,0,0,.8);

	.weapon-text {
		width: 200px;
	}

	.inner {
		padding: calc($spacing / 4) 0px;
		overflow: auto;
		max-height: 400px;
		margin-top: -8px;
		box-shadow: inset 0px 2px 10px rgba(0,0,0,.8);
	}
}

.selected-weapon {
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
}

.result {
	font-weight: bold;
	font-size: 1.1em;
	color: $color-primary;
}

.column {
	width: 50%;
	display: block;
	float: left;
	&.right {
		padding-left: $spacing;
	}
	&.left {
		padding-right: $spacing;
	}
}

@media only screen and (max-width: 400px) {
	.content {
		padding: 0px;
	}

	.character-setup {
		.header h2 {
			font-size: 16px;
			line-height: 24px;
		}
	}
	.weapon-overlay {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		border-radius: 0px;
	}
}

@media only screen and (max-width: 478px) {

	.character-setup {

		&.collapsed {
			max-width: 420px;
		}
	}
}

@media only screen and (max-width: 600px) {
	.selected-weapon {
		width: 100%;
	}
	.column {
		width: 100%;
		&.right {
			padding-left: 0px;
		}
		&.left {
			padding-right: 0px;
		}
	}
    
}