@use '~@angular/material' as mat;

$primary: mat.define-palette(mat.$light-green-palette, 900, 300, 800);
$accent: mat.define-palette(mat.$green-palette, 600, A100, A400);

$my-theme: mat.define-dark-theme((
 color: (
   primary: $primary,
   accent: $accent
 )
));

@include mat.all-component-themes($my-theme);